<a href="<%= user_path(current_user) %>">
	<% if current_user.avatar.url(:square) != "/avatars/square/missing.png"%>
  <%= image_tag current_user.avatar.url(:square) %>
  <% end%>
</a>

<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "Ver mi cuenta", edit_user_path(current_user) %>
</span>
<span>
  <%= pluralize(current_user.challenges.count, "reto") %>
</span>
<%= link_to "Sign out", signout_path, method: "delete" %>