<li>
  <span class="content"><%= challenge.content %></span>
  <span class="empieza">
    Empieza <%= challenge.begin %>
  </span>
  <span class="acaba">
    Acaba <%= challenge.end %>
  </span>
  <span class="recompensa">
    Recompensa: <%= challenge.reward %>
  </span>
  <span class="timestamp">
    Creado hace <%= time_ago_in_words(challenge.created_at) %>
  </span>
  <% if current_user?(challenge.user) %>
    <%= link_to "delete", challenge, method: :delete, data: { confirm: "Estas seguro?" }, title: challenge.content %>
  <% end %>
  
</li>